* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #ffefba, #ffffff);
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  background: linear-gradient(
    90deg,
    rgba(89, 25, 179, 1) 0%,
    rgba(209, 14, 238, 1) 52%,
    rgba(255, 0, 112, 1) 100%
  );

  text-align: center;
}
.search-field {
  outline: unset;
  min-width: 300px;
  min-height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: inherit;
  font-style: italic;
}

.search-btn,
.load-more {
  padding: 5px 15px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: rgb(116, 59, 223);
  color: #fafafa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0 15px 10px #777;
  background-color: #facaee;
}
.photo-card img {
  width: 100%;
  height: 200px;
  max-width: unset;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.88;
  color: rgb(48, 1, 48);
  text-shadow: 2px 2px 4px #bbb0b0;
}
.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.load-more {
  display: block;
  margin: 0 auto 30px;
}

.load-more.is-hidden {
  display: none;
}

.load-more:focus,
.load-more:hover,
.search-btn:focus,
.search-btn:hover {
  background-color: rgb(137, 71, 241);
}
